* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

h1,
h2,
h3,
.call-to-action {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

p,
a {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    text-decoration: none;
}


ul {
    list-style: none;
}

.menu {
    display: none;
}

.line {
    height: 2px;
    width: 24px;
    margin-bottom: 6px;
    background-color: #FFF;
}

.page {

    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Header Section */

header {
    width: 100%;
    height: 538px;
    background: url(./Images-2/mobile/header-mobile.svg) no-repeat center;
    background-size: cover;
}

header > h1 {
    letter-spacing: 6.25px;
    font-size: 2.22em;
    text-align: center;
    color: #FFF;
    margin-top: 45px;
}

nav {
    padding: 35px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-icon{
    display: block;
    margin: 45px auto;
}

/* Photo section */


.photo img {
    width: 100%;
    display: block;
}


/* Text Section */

.text {
    text-align: center;
    padding: 0 25px;
    height: 430px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text > h2 {
    font-size: 1.7em;
    margin-bottom: 24px;
}


.text > p {
    color: hsl(210, 4%, 67%);
    line-height: 30px;
    letter-spacing: -0.13px;
    font-size: 18px;

    margin-bottom: 32px;
}

.call-to-action {
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}



/* Info Section */

.info {
    height: 600px;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    
}

.info > h3 {
    font-size: 28px;
    margin-bottom: 27px;
    letter-spacing: -0.2px;
}

.info > p {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.11px;
}

.design,
.design h3 {
    color:hsl(167, 40%, 24%);
}

.photography,
.photography h3 {
    color: hsl(198, 62%, 26%);
}

.design {
    background: url(./Images-2/desktop/cherry-desktop.png) no-repeat center;
    background-size: cover;
}

.photography {
    background: url(./images-2/desktop/orange-desktop.png) no-repeat center;
    background-size: cover;
}

.info,
.testimonials {
    padding: 60px 20px;
}

/* Testimonials section */

.testimonials {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.testimonials > h3 {
    font-size: 0.8em;
    color: hsl(210, 4%, 67%);
    letter-spacing: 5px;
}


.client {
    margin-top: 64px;
}

.client img {
    width: 72px;
    border-radius: 50px;
}

.client  p {
    color: hsl(213, 9%, 39%);
    line-height: 32px;
    font-size: 18px;
}

.client img,
.client p {
    margin-bottom: 32px;
}

.client h3 {
    font-size: 18px;
    letter-spacing: -0.13px;
    margin-bottom: 8px;
}

.work {
    font-size: 14px;
    letter-spacing: -0.1px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: hsl(210, 4%, 67%);;
}



/* Gallery Section */

.image {
    width: 50%;
}

.image img {
    width: 100%;
    display: block;
}


/* Footer Section */

footer {
    width: 100%;
    height: 350px;
    background-color: #90D4C6;
    padding: 80px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

 footer > .logo > img {
    width: 170px;
    height: 32px;
}

footer > ul {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

footer  a {
    color: hsl(168, 34%, 41%);

}

.socials {
    width: 50%;
    display: flex;
    justify-content: space-between;
}










/* Mobile Style */

@media only screen and (max-width: 480px) {
    
}
   






/* Tablet Style */

@media only screen and (min-width: 481px) and (max-width: 768px) {
    
    header > h1 {
        font-size: 2.55em;
    }

    .photo {
        width: 50%;
        order: 1;
    }

    .t-one {
        order: 2;
    }

    .design {
        order: 3;
    }

    .t-two {
        order: 4;
    }

    .photography {
        order: 5;
    }

    .text > h2 {
        font-size: 1.88em;
    }


    .testimonials {
        order: 6;

    }

    .testimonials,
    .info,
    .text {
        padding: 60px 40px;
    }

    .testimonials > h3 {
        font-size: 1.2em;
    }

    .grid {
        order: 7;
    }

    .image {
        width: 25%;
    }
    .image img{
        width: 100%;
    }

    footer {
        order: 8;
    }
    
    header {
        height: 650px;
        background: url(./Images-2/desktop/header-desktop.svg) no-repeat center;
        background-size: cover;
    }

    .design {

        background: url(./images/desktop/image-graphic-design.jpg) no-repeat center;
        background-size: cover;
    }

    .photography {
        background: url(./images/desktop/image-photography.jpg) no-repeat center;
        background-size: cover;
    }


}

/* Desktop Style */

@media only screen and (min-width: 768px) {

    header {
        height: 800px;
        background: url(./Images-2/desktop/header-desktop.svg) no-repeat center;
        background-size: cover;
    }
}