* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

h1,
h2,
h3,
.call-to-action {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

p,
a {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

nav  ul > li,
footer ul > li {
    display: inline;
    margin-right: 48px;
}

ul > li:last-of-type {
    margin-right: 0;
}

.menu li {
    width: 100%;
    margin-bottom: 32px;
}

.menu li:last-of-type {
    margin-bottom: 0;
}

.menu span a{
    border-radius: 50px;
    background-color: hsl(51, 100%, 49%);
    padding: 16px 32px;
    font-family: 'Fraunces', serif;
    font-size: 15px;
    color: hsl(212, 27%, 19%);
}

.line {
    height: 2px;
    width: 24px;
    margin-bottom: 6px;
    background-color: #FFF;
}

.page {
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Header Section */

header {
    width: 100%;
    height: 100vh;
    background: url(./Images-2/mobile/header-mobile.svg) no-repeat center;
    background-size: cover;
}

header > h1 {
    margin-top: 80px;
    text-align: center;
    letter-spacing: 6.25px;
    font-size: 2.22rem;
    color: #FFF;
}

nav {
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: inline;
    list-style: none;
}

.arrow-icon{
    display: block;
    margin: 40px auto;
}

/* Photo section */


.photo img {
    width: 100%;
    display: block;
}


/* Text Section */

.text {
    text-align: center;
    padding: 35px 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.text > h2 {
    font-size: 1.7em;
    margin-bottom: 24px;
}


.text > p {
    color: hsl(210, 4%, 67%);
    line-height: 30px;
    letter-spacing: -0.13px;
    font-size: 18px;

    margin-bottom: 32px;
}


.call-to-action div {
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 0;
    font-size: 15px;
    margin: 0 auto;
    width: 125px;
    position: relative;
}

.call-to-action div::after {
    content: '';
    position: absolute;
    border-radius: 10px;
    top: 12px;
    left: 0;
    width: 125px;
    height: 10px;
    z-index: -1;
} 

.t-one > .call-to-action div::after {
    background-color: hsl(51, 100%, 49%);
}

.t-two > .call-to-action div::after {
    background-color: hsl(7, 99%, 70%);
}


/* Info Section */

.info {
    height: 600px;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
}

.info > h3 {
    font-size: 1.5rem;
    margin-bottom: 27px;
    letter-spacing: -0.2px;
}

.info > p {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.11px;
    max-width: 340px;
}


.design,
.design h3 {
    color:hsl(167, 40%, 24%);
}

.photography,
.photography h3 {
    color: hsl(198, 62%, 26%);
}

.design {
    background: url(./Images-2/desktop/cherry-desktop.png) no-repeat center;
    background-size: cover;
}

.photography {
    background: url(./Images-2/desktop/orange-desktop.png) no-repeat center;
    background-size: cover;
}

.info,
.testimonials {
    padding: 60px 20px;
}

/* Testimonials section */

.testimonials {
    text-align: center;
}

.testimonials > h3 {
    margin: 0 auto;
    font-size: 1em;
    color: hsl(210, 4%, 67%);
    letter-spacing: 5px;
}
 .clients {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 }

.client {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 64px;
}

.client img {
    width: 72px;
    border-radius: 50px;
}

.client  p {
    color: hsl(213, 9%, 39%);
    line-height: 32px;
    font-size: 18px;
}

.client img,
.client p {
    margin-bottom: 32px;
}

.client h3 {
    font-size: 18px;
    letter-spacing: -0.13px;
    margin-bottom: 8px;
}

.work {
    font-size: 14px;
    letter-spacing: -0.1px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: hsl(210, 4%, 67%);;
}



/* Gallery Section */

.image {
    width: 50%;
}

.image img {
    width: 100%;
    display: block;
}


/* Footer Section */

footer {
    width: 100%;
    height: 350px;
    background-color: #90D4C6;
    padding: 80px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

 footer > .logo > img {
    width: 170px;
    height: 32px;
}

footer  a {
    color: hsl(168, 34%, 41%);

}

.socials {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

/* Menu Mobile */

@media only screen and (max-width: 900px)  {
    
    .hamburger {
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .line.active:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        transition: all 0.2s ease;
    }
    .line.active:nth-child(2){
        opacity: 0.01;
        transition: all 0.2s ease;
    }
    .line.active:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        transition: all 0.2s ease;
    }

    .menu {
        position: absolute;
        background-color: #FFF;
        text-align: center;
        width: 82%;
        top: 15%;
        left: -100%;
        padding: 15%;
    
        display: flex;
        flex-direction: column;
        transition: all 0.4s ease;
    }

    .menu.active{
        top: 15%;
        left: 9%;
        transition: all 0.4s ease;
    }
    
    .menu a {
        color: hsl(210, 4%, 67%);
    }
}

/* Tablet Style */

@media only screen and (min-width: 481px) and (max-width: 900px) {
    
    header {
        background: url(./Images-2/desktop/header-desktop.svg) no-repeat center;
        background-size: cover;
    }

    header > h1 {
        font-size: 2.55em;
    }

    .photo {
        width: 50%;
        order: 1;
    }

    .t-one {
        order: 2;
    }

    .t-two {
        order: 4;
    }

    .text > h2 {
        font-size: 1.88em;
    }

    .testimonials {
        
        order: 6;
    }

    .design {
        order: 3;
    }

    .photography {
        order: 5;
    }

    .testimonials,
    .info,
    .text {
        padding: 60px 40px;
    }

    .testimonials > h3 {
        font-size: 1.2em;
    }

    .grid {
        order: 7;
    }

    .image {
        width: 25%;
    }
    .image img{
        width: 100%;
    }

    footer {
        order: 8;
    }

}




/* Desktop Style */

@media only screen and (min-width: 901px) {
   
    * {
    font-size: 24px;
   }
   
    header {
        background: url(./Images-2/desktop/header-desktop.svg) no-repeat center;
        background-size: cover;
    }

    header > h1 {
        font-size: 3.11em;
    }

    nav {
        padding: 48px 40px;
    }

    nav > ul > li {
        display: inline;
    }

    nav  a {
        color: #FFF;
        font-size: 18px;
    }

    nav a:hover {
        color: hsl(212, 27%, 19%);
    }

    .logo img {
        width: 170px;
        height: 33px;
    }

    .menu span a{
        background-color: #FFF;
    }

   .menu span a:hover {
        color: #FFF;
        background-color: rgba(255,255,255, 0.3);;
        transition: all 0.2s ease;
    }

    .hamburger {
        display: none;
    }

    .photo {
        width: 50%;
    }

    .text {
        width: 50%;
        text-align: left;
        align-content: center;
        font-size: 120%;
    }

    .text > h2,
    .text > p {
        max-width: 500px;
    }

    .call-to-action div {
        margin: 0;
    }


    .t-one {
        order: 0;
    }

    .p-one {
        order: 1;
    }

    .p-two {
        order: 2;
    }

    .t-two {
        order: 3;
    }

    .info {
        width: 50%;
        order: 4;
        font-size: 120%;
    }

    .testimonials {
        padding: 150px 40px;
        order: 5;
    }

    .grid {
        order: 6;
    }

    .image {
        width: 25%;
    }

    .image img{
        width: 100%;
    }

    footer {
        order: 7;
    }


}